[defaults]
host_key_checking=false
stdout_callback=yaml
stderr_callback=yaml
force_color=true

# Custom
forks=4

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path = %(directory)s/ansible-ssh-%%h-%%p-%%r
pipelining = true